/*Importing google fonts*/
@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700');

/*Global CSS selectors which affect all the webpages*/
/*Setting font to Lexend Tera and the text color to black*/
body {
    font-family: "Exo 2", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #e1e2e2;
}

/*Setting all class row to have no left or right margin*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}

/*Setting all a elements text color to black*/
a {
    color: #000000;
}

.active {
    border-bottom: 2px solid black;
}

/*index.html*/
.first-header {
    background-color: ghostwhite;
}

/*First Header Element*/
.top-site-heading {
    font-size: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-left: 15px;
}

/*First Nav Bar*/
.first-nav {
    background-color: ghostwhite;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-toggler {
    margin: 0;
    border: 1px solid #e1e2e2;
    color: black;
}

/*Second Header Element*/
.carousel-item {
    background-color: black;
}

.caro-img {
    width: 50%;
    height: 350px;
    margin: 0 auto;
    display: block;
}

.carousel-caption h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

/*Second Nav*/
.second-nav {
    background-color: ghostwhite;
    margin: 10px 0px;
}

/*************************************************************/
.dropbtn {
    background-color: ghostwhite;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border-radius: 0;
    border-left: 1px solid #e1e2e2;
    border-right: 1px solid #e1e2e2;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: darkgrey;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: ghostwhite;
    min-width: 350px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}



.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/************************************************************/

/************************************************************/
.pg-indicator {
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

#page2,
#page3 {
    display: none;
}

#prev a,
#next a {
    text-decoration: none;
}

#prev,
#next {
    text-decoration: none;
}


.dark-mode {
    text-align: right;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.theme-switch {
    display: inline;
}


.darkbody {
    background-color: black;
}

.custom-control-label::after {
    top: .50rem;
}

.custom-switch .custom-control-label::after {
    top: calc(.50rem + 2px);
}

/************************************************************/
/*Main Element*/

/*boostrap container class*/
.container {
    max-width: 1750px;
}

/*bootstrap card class*/
.card {
    padding: 20px;
    background-color: #fff;
}

#business_heading {
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
}

.refine-search {
    background-color: ghostwhite;
    padding: 20px 10px;
    border-radius: 0.25rem;
    margin-left: 10px;

}

.bimg-1 {
    width: 75%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

#info-1,
#info-2,
#info-3,
#info-4,
#info-5,
#info-6 {
    display: none;
    font-size: 16px;
    text-align: center;
}

#button-card-11 {
    display: none;
}

button {
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: 25%;
    background-color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
}

.btn-outline-dark {
    display: block;
    margin: 0 auto;
}
