/*Importing google fonts*/
@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700');

/*Global CSS selectors which affect all the webpages*/
/*Setting font to Lexend Tera and the text color to black*/
body {
    font-family: "Exo 2", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #e1e2e2;
}

/*Setting all class row to have no left or right margin*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}

/*Setting all a elements text color to black*/
a {
    color: #000000;
}

/*index.html*/
.first-header {
    background-color: ghostwhite;
}

/*First Header Element*/
#main-site-heading {
    font-size: 45px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-left: 15px;
}

/*Main Nav Bar*/
.main-nav h4 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    letter-spacing: 5px
}

.active {
    border-bottom: 2px solid black;
}

/*Second Header Element*/
.carousel-item {
    background-color: black;
}

.caro-img {
    width: 50%;
    height: 350px;
    margin: 0 auto;
    display: block;
}

.carousel-caption h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

/*Second Nav*/
.second-nav {
    background-color: ghostwhite;
    height: 50px;
    margin: 5px 0px;
}

/*************************************************************/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 50px
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 350px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}



.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/************************************************************/

/*Main Element*/

/*boostrap container class*/
.container {
    max-width: 1750px;
    margin-right: 0;
}

/*bootstrap card class*/
.card {
    padding: 20px;
    background-color: #fff;
}

#business_heading {
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
}

.refine-search {
    background-color: ghostwhite;
    padding: 20px 10px;
    border-radius: 0.25rem;
    margin-left: 10px;

}

.bimg-1 {
    width: 75%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

#info-1,
#info-2,
#info-3,
#info-4,
#info-5,
#info-6 {
    display: none;
    font-size: 16px;
    text-align: center;
}

#button-card-11 {
    display: none;
}

button {
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: 25%;
    background-color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
}

.btn-outline-dark {
    display: block;
    margin: 0 auto;
}
